/* SOURCE CREDIT:  https://github.com/catppuccin/palette.git */
:root {
	--ctp-latte-rosewater-hsl:  11, 58%, 69% ;
	--ctp-frappe-rosewater-hsl:  10, 57%, 88% ;
	--ctp-macchiato-rosewater-hsl:  10, 58%, 90% ;
	--ctp-mocha-rosewater-hsl:  10, 56%, 91% ;
	--ctp-latte-flamingo-hsl:  0, 60%, 67% ;
	--ctp-frappe-flamingo-hsl:  0, 59%, 84% ;
	--ctp-macchiato-flamingo-hsl:  0, 58%, 86% ;
	--ctp-mocha-flamingo-hsl:  0, 59%, 88% ;
	--ctp-latte-pink-hsl:  316, 73%, 72% ;
	--ctp-frappe-pink-hsl:  316, 73%, 84% ;
	--ctp-macchiato-pink-hsl:  316, 74%, 85% ;
	--ctp-mocha-pink-hsl:  316, 72%, 86% ;
	--ctp-latte-mauve-hsl:  266, 85%, 58% ;
	--ctp-frappe-mauve-hsl:  277, 59%, 76% ;
	--ctp-macchiato-mauve-hsl:  267, 83%, 80% ;
	--ctp-mocha-mauve-hsl:  267, 84%, 81% ;
	--ctp-latte-red-hsl:  347, 87%, 44% ;
	--ctp-frappe-red-hsl:  359, 68%, 71% ;
	--ctp-macchiato-red-hsl:  351, 74%, 73% ;
	--ctp-mocha-red-hsl:  343, 81%, 75% ;
	--ctp-latte-maroon-hsl:  355, 76%, 59% ;
	--ctp-frappe-maroon-hsl:  358, 66%, 76% ;
	--ctp-macchiato-maroon-hsl:  355, 71%, 77% ;
	--ctp-mocha-maroon-hsl:  350, 65%, 77% ;
	--ctp-latte-peach-hsl:  22, 99%, 52% ;
	--ctp-frappe-peach-hsl:  20, 79%, 70% ;
	--ctp-macchiato-peach-hsl:  21, 86%, 73% ;
	--ctp-mocha-peach-hsl:  23, 92%, 75% ;
	--ctp-latte-yellow-hsl:  35, 78%, 51% ;
	--ctp-frappe-yellow-hsl:  40, 62%, 73% ;
	--ctp-macchiato-yellow-hsl:  40, 70%, 78% ;
	--ctp-mocha-yellow-hsl:  41, 86%, 83% ;
	--ctp-latte-green-hsl:  109, 58%, 40% ;
	--ctp-frappe-green-hsl:  96, 44%, 68% ;
	--ctp-macchiato-green-hsl:  105, 48%, 72% ;
	--ctp-mocha-green-hsl:  115, 54%, 76% ;
	--ctp-latte-teal-hsl:  183, 74%, 35% ;
	--ctp-frappe-teal-hsl:  172, 39%, 65% ;
	--ctp-macchiato-teal-hsl:  171, 47%, 69% ;
	--ctp-mocha-teal-hsl:  170, 57%, 73% ;
	--ctp-latte-sky-hsl:  197, 97%, 46% ;
	--ctp-frappe-sky-hsl:  189, 48%, 73% ;
	--ctp-macchiato-sky-hsl:  189, 59%, 73% ;
	--ctp-mocha-sky-hsl:  189, 71%, 73% ;
	--ctp-latte-sapphire-hsl:  189, 70%, 42% ;
	--ctp-frappe-sapphire-hsl:  199, 55%, 69% ;
	--ctp-macchiato-sapphire-hsl:  199, 66%, 69% ;
	--ctp-mocha-sapphire-hsl:  199, 76%, 69% ;
	--ctp-latte-blue-hsl:  220, 91%, 56% ;
	--ctp-frappe-blue-hsl:  222, 74%, 74% ;
	--ctp-macchiato-blue-hsl:  220, 83%, 75% ;
	--ctp-mocha-blue-hsl:  218, 90%, 75% ;
	--ctp-latte-lavender-hsl:  231, 97%, 72% ;
	--ctp-frappe-lavender-hsl:  239, 66%, 84% ;
	--ctp-macchiato-lavender-hsl:  234, 82%, 85% ;
	--ctp-mocha-lavender-hsl:  232, 97%, 85% ;
	--ctp-latte-text-hsl:  234, 16%, 35% ;
	--ctp-frappe-text-hsl:  228, 56%, 86% ;
	--ctp-macchiato-text-hsl:  228, 71%, 87% ;
	--ctp-mocha-text-hsl:  227, 70%, 87% ;
	--ctp-latte-subtext1-hsl:  233, 13%, 41% ;
	--ctp-frappe-subtext1-hsl:  228, 36%, 79% ;
	--ctp-macchiato-subtext1-hsl:  228, 42%, 79% ;
	--ctp-mocha-subtext1-hsl:  228, 41%, 79% ;
	--ctp-latte-subtext0-hsl:  233, 10%, 47% ;
	--ctp-frappe-subtext0-hsl:  228, 25%, 72% ;
	--ctp-macchiato-subtext0-hsl:  227, 29%, 71% ;
	--ctp-mocha-subtext0-hsl:  229, 27%, 71% ;
	--ctp-latte-overlay2-hsl:  232, 10%, 53% ;
	--ctp-frappe-overlay2-hsl:  228, 20%, 65% ;
	--ctp-macchiato-overlay2-hsl:  228, 22%, 64% ;
	--ctp-mocha-overlay2-hsl:  229, 20%, 63% ;
	--ctp-latte-overlay1-hsl:  231, 10%, 59% ;
	--ctp-frappe-overlay1-hsl:  227, 15%, 58% ;
	--ctp-macchiato-overlay1-hsl:  229, 17%, 56% ;
	--ctp-mocha-overlay1-hsl:  229, 15%, 55% ;
	--ctp-latte-overlay0-hsl:  228, 11%, 65% ;
	--ctp-frappe-overlay0-hsl:  230, 12%, 51% ;
	--ctp-macchiato-overlay0-hsl:  229, 13%, 49% ;
	--ctp-mocha-overlay0-hsl:  232, 12%, 47% ;
	--ctp-latte-surface2-hsl:  227, 12%, 71% ;
	--ctp-frappe-surface2-hsl:  229, 13%, 44% ;
	--ctp-macchiato-surface2-hsl:  230, 14%, 41% ;
	--ctp-mocha-surface2-hsl:  233, 13%, 39% ;
	--ctp-latte-surface1-hsl:  225, 14%, 77% ;
	--ctp-frappe-surface1-hsl:  229, 14%, 37% ;
	--ctp-macchiato-surface1-hsl:  231, 16%, 34% ;
	--ctp-mocha-surface1-hsl:  232, 15%, 31% ;
	--ctp-latte-surface0-hsl:  223, 16%, 83% ;
	--ctp-frappe-surface0-hsl:  230, 16%, 30% ;
	--ctp-macchiato-surface0-hsl:  230, 19%, 26% ;
	--ctp-mocha-surface0-hsl:  237, 16%, 23% ;
	--ctp-latte-base-hsl:  220, 23%, 95% ;
	--ctp-frappe-base-hsl:  229, 19%, 23% ;
	--ctp-macchiato-base-hsl:  232, 23%, 18% ;
	--ctp-mocha-base-hsl:  240, 21%, 15% ;
	--ctp-latte-mantle-hsl:  220, 22%, 92% ;
	--ctp-frappe-mantle-hsl:  231, 19%, 20% ;
	--ctp-macchiato-mantle-hsl:  233, 23%, 15% ;
	--ctp-mocha-mantle-hsl:  240, 21%, 12% ;
	--ctp-latte-crust-hsl:  220, 21%, 89% ;
	--ctp-frappe-crust-hsl:  229, 20%, 17% ;
	--ctp-macchiato-crust-hsl:  236, 23%, 12% ;
	--ctp-mocha-crust-hsl:  240, 23%, 9% ;
}

