
.row{
      margin: auto;
      width: calc(min(90%, 1200px));
      margin-top: var(--size-6);
      padding-left: 5%;
      padding-right: 5%;
  
      display: grid;
      gap: var(--size-4);
      grid-template-areas: 'left right';
      grid-template-columns: 4fr 3fr;
  }

.left{
      grid-area: left;
      grid-row: auto;
      background: var(--grad-bkg);
      border-radius: var(--radius-5);
      width: 95%;
      margin: auto 0;
}
  
.right{
      grid-area: right;
      grid-row: auto;
}

.right-text{
      line-height: 1.1;
}

.right h1{
      margin-top: var(--size-2);
      font-size: var(--font-size-4);
      margin-bottom: var(--size-00);
      margin-left: var(--size-3);
  }

.inline-icon{
      display: inline-block;
}

.sidecontent{
      color: var(--ctp-latte-crust-hsl);
      margin: auto;
      width: 75%;
  }

.nametag{
      width: 65%;
      margin: auto;
      border-radius: var(--radius-5);
      background: hsl(var(--ctp-mocha-pink-hsl));
      color: hsl(var(--ctp-frappe-base-hsl));
      text-align: center;
      margin-top: var(--size-2);
      font-size: var(--font-size-1);
      font-weight: 400;
      padding: var(--size-1);
}

.name{
      font-size: var(--font-size-4); 
      font-weight: 500;
      width:95%;
      margin: auto;
      text-align: center;
}
    
@media only screen and (min-width: 850px){
      .sayHi{
          display: none;
      }
  
      .left{
            position: sticky;
            top: var(--size-2); 
            width: 100%;
            grid-area: right;
            margin-top: 2em;
            background: none;
      }
  
      .right{
          grid-area:left;
          width:95%;
          margin: auto 0;
      }
      .sidecontent{
            width:100%;
      }
      .left-bkg{
            margin: auto;
            width: 95%;
            background: var(--grad-bkg);
            border-radius: var(--radius-5);
      }
      .left-wrapper{
            width: 75%;
            margin: auto;
      }
}
  

@media only screen and (max-width: 850px){
      body{
            background-image: var(--grad-bkg);
      }
      .name{
            display: none;
      }

      .row{
          display:table;
          padding-left: 0%;
          padding-right: 0%;
          width:100%;
      }
      .left{
          width: 95%;
          background: none;
          margin: auto;
      }
      .right{
            width: 104%;
            padding: var(--size-3);
            margin: auto;
            margin-left: -5%;
            background-color: hsl(var(--ctp-latte-crust-hsl));
            margin-top: var(--size-2);
            border-radius: var(--radius-4);
      }
      .sidecontent{
            width: 90%;
      }
      .sayHi{
            font-size: var(--font-size-5);
            align-self: center;
            margin-left: 10%;
            color: hsl(var(--ctp-latte-crust-hsl));
            margin-right: 5%;
      }
      .grid-container {
            display: grid;
            grid-template-columns: 1fr 3fr;
            grid-gap: 0px;  
      } 
    
}

@media only screen and (max-width: 1000px){
      .shortener::before{
          content: 'Me';
      }
  
  }
  
  @media only screen and (min-width: 1000px){
      .shortener::before{
          content: 'Me';
      }
  
  }
  

.soc2{
      margin-top: var(--size-3);
      width: 100%;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 0;
      display: table;
}
  
.soc-item2{
      float: left;
      width: 33%;
      margin: 0 auto; 
      grid-row: auto;
      justify-content: center;
      display: flex;
      color: hsl(var(--ctp-latte-crust-hsl));
      font-size: var(--font-size-1);
}
  
  .emailSection{
      color: hsl(var(--ctp-latte-base-hsl));
  }

.emailSection a{
      color: hsl(var(--ctp-latte-base-hsl));
      text-decoration-thickness: 1pt;
      font-weight: 400;
  }
  
  .emailSection .quickWrap{
      display:inline;
      padding-top: var(--size-2);
  }
  
  .emailHider{ 
      display: inline;
      color: hsl(var(--ctp-latte-crust-hsl));
    }

    .emailHider::before{
            content: 'anton.savostianov';
            margin-left: 5pt;
            margin-top: -20pt;
        }
    .emailHider::after{
            content: '\A gssi.it';
        }
    .emailCatch{
      display: none;
    }
    

.soc{
      margin-top: var(--size-2);
      width: 100%;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 0em;
      display: table;
      margin-bottom: var(--size-2);
  }
  
  .soc-item{
      float: left;
     width: 25%;
     margin: 0 auto; 
     grid-row: auto;
     justify-content: center;
      display: flex;
  }
  
  .soc-item a{
      color: hsl(var(--ctp-latte-mantle-hsl));
  }
  
  .soc-item a:hover{
      color: hsl(var(--ctp-frappe-mauve-hsl));
      background: none;
  }
  

  .menu{
      margin: 0 auto;
      text-align: center;
      width: 75%;
  }

  @media only screen and (max-width: 1000px){
      .menu{
            width:90%;
      }
  }

  .menu ul{
      list-style:none;  
      margin:0 auto;
      padding: var(--size-000);
      width:75%;
    }
    .menu ul li{
      display:block;
      background: hsl(var(--ctp-mocha-pink-hsl));
      margin: var(--size-2);
      width: 50%;
      margin: 0 auto;
      margin-top: var(--size-2);
      border-radius: var(--radius-5);  
      color: hsl(var(--ctp-latte-crust-hsl));
    }

    .menu ul li:hover{
      background: hsl(var(--ctp-latte-mauve-hsl));
      text-color: hsl(var(--ctp-latte-base-hsl));
    }


    .menu label{
      display:block;
      color: hsl(var(--ctp-latte-crust-hsl));
      background: hsl(var(--ctp-latte-mauve-hsl));
      padding: var(--size-1);
      border-radius: var(--radius-4);
      
    }
    .menu input[type="checkbox"]{
      visibility:hidden;
      position:absolute;
    }
    .menu #collapse:checked ~ li{
      display:none;
      margin-top:0; 
    }
    .menu #collapse:checked + label:before{
      position:relative;
      opacity:1;
    }

    .menu ul li a{
      text-decoration: none;
      font-weight: 400;
    } 
    .menu ul li a:hover{
      text-decoration: none;
      font-weight: 400;
      background: none;
      color: hsl(var(--ctp-latte-base-hsl));
    } 