.newsContainer{
      margin-top: var(--size-3);
      display: grid;
      grid-template-columns: 1fr 4fr;
      grid-gap: 5px;
      grid-template-areas: 'date text';
}

.newsContainer2{
      margin-top: var(--size-3);
      display: grid;
      grid-template-columns: 1fr 4fr;
      grid-gap: 5px;
      grid-template-areas: 'date text';
}

.newsContainer2 .newsDate:nth-child(-n+10) {
      display: block;
}

.newsContainer2 .newsDate{
      display: none;
}

.newsContainer2 .newsText:nth-child(-n+10) {
      display: block;
}

.newsContainer2 .newsText{
      display: none;
}

.newsDate{
      color: hsl(var(--majestic-mist));
      grid-area: date;
      grid-row: auto;
  }
  

  .newsText{
      color: hsl(var(--sombre-grey));
      grid-area: text;
      grid-row: auto;
      border-bottom: dashed 1pt hsl(var(--majestic-mist));    
      padding-bottom: 0.5em;
      margin-bottom: 1em;
  }
  

  .newsText mark{ 
      color: hsl(var(--nocturnal-sea));
      background-color: none !important;
      background: none;
      font-weight: 500;
  }

  .newsText b{ 
      font-weight: 500
}

  .newsText .mark2{
      font-weight: 400;
      color: hsl(var(--faded-rose));
  }