
.paper{
      margin: var(--size-3);
      margin-bottom: var(--size-4);
      border: 1px solid hsl(var(--almind-beige));
      background-color: hsl(var(--almind-beige)); 
      border-radius: 0.25rem;
      padding: 5px;
      transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/*.paper:hover{
      -webkit-transform: scale(1.01, 1.01);
      transform: scale(1.01, 1.01);
}*/

.paper-title{
      font-weight: 500;
      font-size: var(--font-size-2);
      line-height: 1.1;
      background: hsl(var(--nocturnal-sea));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
}

.paper-abstract{
      width: 93%;
      margin-left: 5%;
      margin-bottom: 2%;
      margin-right: 2%;
      font-size: 0.8rem;
      line-height: 1;
      /*font-style: italic;*/
}

.person-wrapper{
      font-size: 0.9rem;
      line-height: 1.1;
      margin-bottom: var(--size-1);
}

.person{
      padding-right: var(--size-2);
}

.person a{
      display: inline-block;
}

[astro-icon="cib:orcid"]{
      /*color: hsl(var(--lime-6-hsl));*/
      background: ;
}

.paper-journal{
      font-size: var(--font-size-1);
      margin-top: var(--size-00);
      color: hsl(var(--gray-6-hsl));
      line-height: 1.1;
      margin-bottom: var(--size-2);
}

.tag-wrapper{
      margin-left: 0%;
      margin-top: var(--size-00);
      width: 95%;
}

.tags-left{
      float: left;
}

.tags-right{
      float: right;
}



.netsci{
      border-radius: var(--radius-5);
      padding-left: var(--size-2);
      padding-right: var(--size-2);
      padding-bottom: var(--size-0);
      font-size: var(--font-size-1);
      color: hsl(var(--white-lace));
      background-color: hsl(var(--luminiscient-blue-darker));
      margin-right: var(--size-2);
}

.la{
      border-radius: var(--radius-5);
      padding-left: var(--size-2);
      padding-right: var(--size-2);
      padding-bottom: var(--size-0);
      font-size: var(--font-size-1);
      color: hsl(var(--sombre-grey));
      background-color: hsl(var(--anemone-white));
      margin-right: var(--size-2);
}


.dnn{
      border-radius: var(--radius-5);
      padding-left: var(--size-2);
      padding-right: var(--size-2);
      padding-bottom: var(--size-0);
      font-size: var(--font-size-1);
      color: hsl(var(--sombre-grey));
      background-color: hsl(var(--imaginary-mauve));
      margin-right: var(--size-2);
}

.sun{
      border-radius: var(--radius-5);
      padding-left: var(--size-2);
      padding-right: var(--size-2);
      padding-bottom: var(--size-0);
      font-size: var(--font-size-1);
      color: hsl(var(--white-lace));
      background-color: hsl(var(--faded-rose));
      margin-right: var(--size-2);
}

.oscillators{
      border-radius: var(--radius-5);
      padding-left: var(--size-2);
      padding-right: var(--size-2);
      padding-bottom: var(--size-0);
      font-size: var(--font-size-1);
      color: hsl(var(--white-lace));
      background-color: hsl(var(--majestic-mist));
      margin-right: var(--size-2);
}

.bio{
      border-radius: var(--radius-5);
      padding-left: var(--size-2);
      padding-right: var(--size-2);
      padding-bottom: var(--size-0);
      font-size: var(--font-size-1);
      color: hsl(var(--white-lace));
      background-color: hsl(var(--sombre-grey));
      margin-right: var(--size-2);
}

.dna{
      border-radius: var(--radius-5);
      padding-left: var(--size-2);
      padding-right: var(--size-2);
      padding-bottom: var(--size-0);
      font-size: var(--font-size-1);
      color: hsl(var(--sombre-grey));
      background-color: hsl(var(--coral-mantle));
      margin-right: var(--size-2);
}

.tag-code{
      border-radius: var(--radius-5);
      padding-left: var(--size-2);
      padding-right: var(--size-2);
      padding-bottom: var(--size-0);
      font-size: var(--font-size-1);
      color: hsl(var(--sombre-grey));
      margin-right: var(--size-2);
      border: 1px solid hsl(var(--sombre-grey));
}

.tag-code a{
      color: hsl(var(--sombre-grey));
      background: none !important; 
      text-decoration: none;
}

.tag-code:hover{
      text-decoration: underline;
      background: none;
      background-color: none;
      background-image: none;
}

.tag-code a:hover{
      text-decoration: underline;
      background: none;
      background-color: none;
      background-image: none;
}


