---
import Layout from '../layouts/Layout.astro'
import '../styles/reload.css';
import TitleCard from '../components/TitleCard.astro';
import SocialButtons from '../components/SocialButtons.astro';
import { Icon } from 'astro-icon';
import News from '../components/News.astro'

---
<Layout title="Archive" >
<div slot="left">
      <h2 > <Icon width={19} name="bi:archive" class="inline-icon"/> Archive </h2>

      <p>
            Here you can find a quick lists of updates on my work. Enjoy!
      </p>   
      
      <p>
            This list consists of quick, typically one-line, updates on the published work, planned talks, and travelling. More detailed descriptions of the published papers can be found <a href="/papers/">here</a>.
      </p>

</div>
<div slot="center">
	<h2 > <Icon width={19} name="refresh" class="inline-icon" /> Quick Updates   <a  href="/archive/" class="archiveRef">{/*<Icon width={19} name="bi:archive" class="inline-icon"/> */}&nbsp; all &nbsp;</a> </h2> 

	<div class="newsContainer">
		<News/>
	</div>
</div>
	
</Layout>

