---
import BaseLayout from '../layouts/BaseLayout.astro'
import {Icon} from 'astro-icon'
import News from '../components/News.astro'
---

<BaseLayout title="Archive">
<div class="newsContainer">
            <News/>
</div>
</BaseLayout>