---
import BaseLayout from '../layouts/BaseLayout.astro'
import {Icon} from 'astro-icon'
import News from '../components/News.astro'
---

<BaseLayout title="Archive">
      <h1 > <Icon width={19} name="bi:archive" class="inline-icon"/> Archive </h1>

      <p>
            Here you can find a quick lists of updates on my work. Enjoy!
      </p>     

<div class="newsContainer">
            <News/>
</div>
</BaseLayout>