---
import BaseLayout from '../layouts/BaseLayout.astro'
import {Icon} from 'astro-icon'
import News from '../components/News.astro'
---

<BaseLayout title="Home">
	<h1> <Icon size="19" name="emojione-monotone:top-hat" class="inline-icon"/> About Me</h1> 
	<p>Hello! I'm <span class="rainbow2"> Anton Savostianov</span>. Presently I'm doing my PhD in <mark>Mathematics in Natural Science</mark> at <span class="rainbowGSSI"><a href="https://gssi.it">Gran Sasso Science Institute</a></span> in <i> L'Aquila, Italy</i>.
	</p>
	<p>
	My current work is focuses on the numerical methods for <mark>Network Sciences</mark>.  My previous work included:
	<ul>
	   <li> coupled (nonlinear) oscillators for modelling <span class="mark2">solar activity</span></li>
	   <li> detection of 3D structure in <span class="mark2">chromatine</span> via CV methods</li>
	   <li> quasi stationary points in <span class="mark2">spatially-heterogeneous models of biocommuinites</span></li>
	</ul>
	
	</p>

	<h1 > <Icon width={19} name="refresh" class="inline-icon" /> Quick Updates  &nbsp; <a  href="/archive/"><Icon width={19} name="bi:archive" class="inline-icon"/></a> </h1> 

	<div class="newsContainer2">
            <News/>
	</div>
</BaseLayout>