---
import Layout from '../layouts/Layout.astro'
import '../styles/reload.css';
import TitleCard from '../components/TitleCard.astro';
import SocialButtons from '../components/SocialButtons.astro';
import PaperList from '../components/Paper.astro'
import { Icon } from 'astro-icon';
import News from '../components/News.astro'

---
<Layout title="Publications" >
<div slot="left">
      <h2> <Icon name= "GameIconsPapers" width={25} class="inline-icon"/> Publications </h2>
     
      <p>
            Here is the list of my publications. In case you are interested in my conferences talks, please search the archive page.
      </p>  

      <p>
            You can also consult my pages in the indexing systems: <a href="https://scholar.google.it/citations?user=E0nt-XYAAAAJ&hl=en">Google Scholar</a>, <a href="https://orcid.org/0000-0003-0126-3059">OrCiD</a>, <a href="https://www.semanticscholar.org/author/Anton-Savostianov/2281743377">Semantic Scholar</a> and <a href="https://www.researchgate.net/profile/Anton-Savostianov-3?ev=hdr_xprf&_tp=eyJjb250ZXh0Ijp7ImZpcnN0UGFnZSI6ImhvbWUiLCJwYWdlIjoiaG9tZSIsInBvc2l0aW9uIjoiZ2xvYmFsSGVhZGVyIn19">ResearchGate</a>.
      </p>

      <p>
            <mark>Nota Bene</mark> : if you are searching for articles about PDEs with my name, you are probably looking for the work of my <a href="http://www.antonsavostianov.com/">namesake</a> from Upsalla! I claim authorship only for the articles listed on this page, and sorry for the confusion!
      </p>
</div>
<div slot="center">
	<PaperList/>
</div>
	
</Layout>




