---
import BaseLayout from '../layouts/BaseLayout.astro'
import PaperList from '../components/Paper.astro'
import {Icon} from 'astro-icon'
---

<BaseLayout title="Papers">
      <h1> <Icon name= "GameIconsPapers" width={25} class="inline-icon"/> Publications </h1>
      <p class="right-text">
      Here is the list of my publications. In case you are interested in my conferences talks, please search the arhive page.
      </p>
      <PaperList/>
</BaseLayout>