---
import {Icon} from 'astro-icon'
const navLinks = [
      {
            name: "Home",
            url: '/',
            style: 'transparent',
      },
      {
            name: 'Papers',
            url: '#',
            style: 'transparent'
      }
]
---

<nav>
      <div class="contrainer nav-container">
            13
      </div>
</nav>