---
import {Icon} from 'astro-icon'
import Latex from './Latex.astro'
import '../styles/news.css'
---
<div class="newsDate"> 9 May</div>
<div class="newsText">
      My PhD defense titled <span class="rainbow2">Topological Instability and Preconditioning of Higher-Order Laplacian Operators on Simplicial Complexes</span> has finally taken place.

      <br/>
      Text: <a href="/docs/thesis.pdf">here</a>. Slides: <a href="/docs/thesis_slides.pdf">here</a>.
</div>

<div class="newsDate"> 18 Apr </div>
<div class="newsText">
      Our long-suffering <span class="rainbow2"> paper </span> on <mark> Impact of coupling on the road to synchronization of two coupled Van der Pol oscillators</mark> with <i>Sasha Shapoval</i> and <i>Mikhail Shnirman</i> is published in <b>Physica D</b>.

      <br/>  

      DOI: <a href="https://doi.org/10.1016/j.physd.2024.134166"> arXiv</a>. Code: <a href="https://github.com/mryodo/CoupledVdPBifurcation"> repository </a>.
</div>

<div class="newsDate"> 21 Feb </div>
<div class="newsText">
      The <span class="rainbow2"> preprint </span> for <mark>Contractivity of neural ODEs: an eigenvalue optimization problem </mark> with <i>Francesco Tudisco</i>, <i>Nicola Guglielmi</i> and <i>Arturo de Marinis</i> is online.

      <br/>  

      PDF: <a href="https://arxiv.org/abs/2402.13092"> arXiv</a>. {/*Code: <a href="https://github.com/COMPiLELab/HeCS"> repository </a>. */}
</div>

<div class="newsDate"> 1 Feb </div>
<div class="newsText">
      The <span class="rainbow2"> preprint </span> for <mark> 	Cholesky-like Preconditioner for Hodge Laplacians via Heavy Collapsible Subcomplex  </mark> with <i>Francesco Tudisco</i> and <i>Nicola Guglielmi</i> is (finally) online!

      <br/>  

      PDF: <a href="https://arxiv.org/abs/2401.15492"> arXiv</a>&nbsp;&nbsp;&nbsp;&nbsp; Code: <a href="https://github.com/COMPiLELab/HeCS"> repository </a>. 
</div>

      <div class="newsDate"> 28 Nov </div>
      <div class = "newsText" >
            I will be spending months of December and January at <span class="mark2"> RWTH Aachen </span> in the group of Michael Schaub.
      </div>

      <div class="newsDate"> 26 Jul </div>
      <div class = "newsText" >
            Our paper <span class="mark2">Quantifying the structural stability of simplicial homology</span> is accepted to <span class="rainbowGSSI"><a href="https://www.springer.com/journal/10915">JOMP</a></span>.
      </div>

      <div class="newsDate"> 10-14 Jul </div>
      <div class="newsText" >
                        I'm travelling to the <b>NetSci 2023</b>, Vienna, Austria.

                        <br/> <br/>

                        Contributed talk: <mark> Quantifying the Topological Stability of a Simplicial Complex </mark>, program <a href="https://netsci2023.wixsite.com/netsci2023"> here</a>.

                        <br/> <br/>
                        Slides: <a href="https://drive.google.com/file/d/1mcJoLv5xwPyzkliUxbHFu3pHSzN9UoyW/view?usp=sharing">here</a> 
      </div>

<div class="newsDate"> 12-16 Jun </div>
<div class="newsText" >
      I'm travelling to the <b>25th Conference of the International Linear Algebra Society</b>, Mardid, Spain.

      <br/> <br/>

      Contributed talk: <mark> Quantifying the Topological Stability of a Simplicial Complex </mark>, <a href="https://ilas2023.es/program/"> program here </a>.

      <br/> <br/>
      Slides: <a href="https://drive.google.com/file/d/1njnQzqRrJT9MnZdP3wCnBO8sIVxjPIy4/view?usp=sharing">here</a> 
</div>

<div class="newsDate"> 11 Jan </div>
<div class="newsText">
      The <span class="rainbow2"> preprint </span> for <mark> Quantifying the structural stability of simplicial homology </mark> with <i>Francesco Tudisco</i> and <i>Nicola Guglielmi</i> is (finally) online!

      <br/>  

      PDF: <a href="https://arxiv.org/abs/2301.03627"> arXiv</a>&nbsp;&nbsp;&nbsp;&nbsp; Code:<a href="https://github.com/COMPiLELab/HOLaGraF"> repository </a>. 
</div>

<div class="newsDate"> 23 Dec</div>
<div class="newsText">
      The repository with <span class="rainbow2">Julia</span> code for the <mark>HOLaGraF</mark> project is up online: <a href="https://github.com/COMPiLELab/HOLaGraF"> repository </a>.

      <br/>                                <br/>

      The full paper will follow soon.
</div>

<div class="newsDate"> 13 Sep</div>
<div class="newsText">
            Giving a lighting talk on the joint work <mark> Topological Stability of the Simplicial Complex via Matrix Differential Equations</mark> with <a href="https://www.gssi.it/people/professors/lectures-maths/item/545-guglielmi-nicola#VI">Nicola Guglielmi</a> and <a href="ftudisco.gitlab.io">Francesco Tudisco</a> at SIAM Network Science Workshop 2022. 

            <br/>                                <br/>

            Slides:  <a href="https://drive.google.com/file/d/1qVojy9iCoryfQnqCscFyoLVo1hJETWdJ/view?usp=sharing">here</a>   &nbsp;&nbsp;&nbsp;&nbsp; Video: TBD
      </div>

      <div class="newsDate"> 19 Aug</div>
      <div class="newsText">
            The talk with Nicola Guglielmi and Francesco Tudisco on the <b> Toplogical Stability of Simplicial Complexes </b> is accepted as a lightning presentation at <a href="http://dyn.phys.northwestern.edu/ns22.html" >SIAM NS 22</a>. 
      </div>
      <div class="newsDate"> 31 Jul – 2 Aug</div>
      <div class="newsText">
            Travelling for <a href="https://sites.fct.unl.pt/europt2022/" >EUROPT 22 </a> conference and summer school at Lisbon, Portugal. 
      </div>
      <div class="newsDate"> 11–13 May</div>
      <div class="newsText">
            Presenting a poster <mark>Gradient Flow Optimisation for Graph Topological Stability</mark> at <b>NUmerical Methods for Compression and Learning, L’Aquila, Italy</b>.

            <br/><br/>

            Poster: <a href="https://indico.gssi.it/event/344/contributions/1156/">here</a>
      </div>
      <div class="newsDate"> 14–15 Feb</div>
      <div class="newsText">
            Giving a contributed talk <mark>Graph Topological Stability via Matrix Differential Equations</mark> at <b>Two Days of Numerical Linear Algebra and Application</b> in Napoli, Italy. Joint work with <a href="https://www.gssi.it/people/professors/lectures-maths/item/545-guglielmi-nicola#VI">Nicola Guglielmi</a> and <a href="frudisco.gitlab.io">Francesco Tudsico</a>.

            <br/><br/>
            Abstract: <a href="https://www.dma.unina.it/2ggaln/pdf/Savostianov.pdf">here</a>.
      </div> 
