---
import '../styles/social_button.css'
import { Icon } from 'astro-icon';
---

<div class="socialButtonWrapper">
      <a href="https://github.com/mryodo" class="socialButton"><Icon size="26" name="ph:github-logo-bold"  class="inline-icon"/></a>

      <a href="https://threads.net/mryodo" class="socialButton"><Icon size="26" name="threads"  class="inline-icon"/></a>

      <a href="https://scholar.google.com/citations?user=E0nt-XYAAAAJ&hl=en" class="socialButton"><Icon size="26" name="scholar"  class="inline-icon"/></a>

      <a href="https://mathstodon.xyz/@mryodo" class="socialButton"><Icon size="26" name="mastodon"  class="inline-icon"/></a>

      <a href="https://orcid.org/0000-0003-0126-3059" class="socialButton"><Icon size="26" name="orcid"  class="inline-icon"/></a>
</div>
